html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#login-screen {
    position: fixed;
    inset: 0px;
    border-radius: 10px;
    box-shadow: 0 0 4px;
    display: flex;
    width: 90%;
    height: 90%;
    margin: auto;
    justify-content: stretch;
    overflow: auto;
}

#login-art {
    flex: 1;
    padding: 10% 5%;
    background: linear-gradient(-12deg, #55c5ed, #19579e);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-art>h1 {
    font-size: clamp(24px, 4vw, 36pt);
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: #fefefe;
}

#login-art-svg {
    flex: 1;
    min-width: 100px;
    max-width: 200px;
    margin-top: 5%;
    color: #fefefe;
}

.glass {
    fill: #81b9f0;
    stroke-width: 2px;
    stroke: url(#gloss);
}

.holow {
    fill: #6fafed;
    stroke-width: 2px;
    stroke: url(#gloss-inverse);
}

#login-page {
    flex: 2;
    background-color: #ffffff;
}

@media (max-width: 700px) {
    #login-screen {
	border-radius: 0px;
	box-shadow: none;
	flex-direction: column;
	height: 100%;
	width: 100%;
    }
    
    #login-page {
	order: 1;
	overflow: auto;
    }

    #login-art {
	max-height: 5%;
	flex-direction: column;
	order: 2;
    }
    #login-art-svg {
	display: none;
    }
}

#login-page {
    padding: clamp(28px, 6%, 48px);
    display: flex;
    flex-direction: column;
    gap: 10px
}

#login-page h1{
    font-size: clamp(20px, 3.2vw, 28px);
    color: #1260a3;
}

button {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding: .6rem 1rem;
    border-radius: 8px;
    font-weight:600;
    cursor:pointer;
    border: 0;
    text-decoration:none;
    user-select:none;
}

button:active{ outline: 2px solid rgba(17,112,218,0.14); outline-offset: 1px; }

.card {
    display: flex;
    flex-direction:column;
    margin: 10%;
}

.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

label {
    font-size: 18px;
    color: #314a63;
    margin-bottom: 6px;
}

input[type="text"], input[type="password"], input[type="search"] {
    padding:10px 12px;
    border-radius:6px;
    border:1px solid #e6eef8;
    background:#fafcff;
    font-size:14px;
    outline:none;
}

.actions {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 6px;
}

.small {
    display:block;
    margin-top:16px;
    font-size:12px;
    color:var(--muted)
}

table{
    width:100%;
    border-collapse:collapse;
    font-size:14px;
}

thead{
    background:#314a63;
    color:#fff;
    position:sticky;
    top:0;
    z-index:2;
}
thead th{
    text-align:left;
    padding:12px 16px;
    font-weight:700;
    letter-spacing: .02em;
    font-size:13px;
    vertical-align:middle;
}

tbody tr{background:transparent}
tbody tr:nth-child(even){background:var(--stripe)}
tbody td{
    padding:14px 16px;
    border-bottom:1px solid rgba(10,30,60,0.04);
    vertical-align:middle;
    color:#13334f;
}
